@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.nav-link{
	margin-right: 15px;
	color:#ffffff;
	letter-spacing: 0.5px;
	transition: 0.5s;
	
}
.nav-link a{
	color: white;
}
.nav-link a:hover{
	color: white;
	transform: scale(1);
}

h2{
	color: #ffffff;
	letter-spacing: 0.5px;
	font-family: raleway;
}


.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255);
}

.logoBtn {
	display: flex;
	padding: 5px 10px;
	/* border-bottom: 1px solid rgb(168, 168, 168); */
	align-items: center;
	justify-content: space-between;
  }
  
  .logoBtn a {
	text-decoration: none;
	color: white;
	width: 35px;
	align-self: center;
	border-radius: 50%;
	opacity: 1;
	box-shadow: 0 0 8px 1px rgb(255, 255, 255);
  }
  .logoBtn a:hover {
	opacity: 0.8;
	box-shadow: 0 0 1px 3 px rgb(131, 32, 32);
  }
  
  .logoBtn img {
	width: 35px;
	display: block;
	border-radius: 40%;
	height: 40px;
	padding: 2px;
  }
  
 